body,
html {
    padding: 0;
    height: 100%;
    font-family: "PT Sans";
    font-size: 12px;
}

html {
    overflow: hidden;
    background-color: transparent;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

#wrapper {
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 8px 8px rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    margin: 12px;
    padding: 4px;
}

#resize {
    position: absolute;
    right: 0.5rem;
    bottom: 0.5rem;
    width: 0.5rem;
    height: 0.5rem;
    background: #E2EBF5;
    border-radius: 50%;
    box-shadow: 0 0 10px 1px #217AA2;
}

.btngrp {
    position: absolute;
    right: 1rem;
    top: 1rem;
}

.btngrp button {
    background: transparent;
    height: 1.5em;
    width: 2em;
    color: #e2ebf5;
    cursor: pointer;
    border: none;
}

.btngrp button:hover {
    color: #a7d0ff;
    border-color: #a7d0ff;
}

#header {
    margin-bottom: 0.5rem;
}

#header,
.orange {
    color: #DED7BE;
    text-shadow: -1px 0 2px #795516, 0 1px 2px #795516, 1px 0 2px #795516, 0 -1px 2px #795516;
    font-weight: 300;
    white-space: nowrap;
}

.white {
    color: #fff;
    text-shadow: -1px 0 2px #333, 0 1px 2px #333, 1px 0 2px #333, 0 -1px 2px #333;
    font-weight: 300;
    white-space: nowrap;
}

#wrapper,
.blue {
    color: #E2EBF5;
    text-shadow: -1px 0 3px #217AA2, 0 1px 3px #217AA2, 1px 0 3px #217AA2, 0 -1px 3px #217AA2;
    font-weight: 300;
    white-space: nowrap;
}

.green {
    color: #ebf5e2;
    text-shadow: -1px 0 3px #7aa221, 0 1px 3px #7aa221, 1px 0 3px #7aa221, 0 -1px 3px #7aa221;
    font-weight: 300;
    white-space: nowrap;
}
/********************************/
table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
}

thead {
    border-bottom: 1px solid #DED7BE;
}

th,
td {
    padding: 0.25rem 0.5rem;
    text-overflow: ellipsis;
    overflow: hidden;
}

#config,
#config>div,
#config>div>div {
    height: 100%;
}

#config .navigation,
#config .content {
    font-family: "PT Sans";
}

#config .navigation {
    background-color: #203;
    color: white;
    width: 25%;
}

#config .title {
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem 2rem;
}

#config .content {
    padding: 5rem 1rem 0;
    overflow: auto;
    position: relative;
}

#config .content .title {
    position: fixed;
    top: 0;
    left: 25%;
    right: 0;
    background: white;
    box-shadow: 0 0 5px black;
    margin: 0 -1rem 1rem 0;
}

#config .content .title button {
    font-size: 1rem;
    float: right;
}

.indented-menu {
    font-size: 1.5rem;
}

.indented-menu a {
    color: #eee;
    text-decoration: none;
    display: block;
    padding: 0.5rem 2rem;
}

.indented-menu a:hover {
    background: rgba(255, 255, 255, 0.2)
}

#dragOrder {
    padding: 0;
}

#dragOrder li,
li.gu-mirror {
    display: flex;
    margin: 1rem 0;
    background: rgba(34, 0, 51, 0.2);
    padding: 1rem;
    border-radius: 0.2rem;
}

#dragOrder li span,
li.gu-mirror span {
    flex: 0 20px;
}

#dragOrder li span:first-child,
li.gu-mirror {
    cursor: ns-resize;
}

#dragOrder li span:last-child {
    cursor: pointer;
}

#dragOrder li div,
li.gu-mirror div {
    flex: 1;
}

#dragOrder li div fieldset,
li.gu-mirror div fieldset {
    display: none;
}

.humane,
.humane-flatty {
    position: fixed;
    transition: all 0.4s ease-in-out;
    z-index: 100000;
}

.humane,
.humane-flatty {
    font-family: Helvetica Neue, Helvetica, san-serif;
    font-size: 16px;
    top: 0;
    left: 30%;
    opacity: 0;
    width: 40%;
    color: #444;
    padding: 10px;
    text-align: center;
    background-color: #fff;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    transform: translateY(-100px);
}

.humane p,
.humane-flatty p,
.humane ul,
.humane-flatty ul {
    margin: 0;
    padding: 0;
}

.humane ul,
.humane-flatty ul {
    list-style: none;
}

.humane.humane-flatty-info,
.humane-flatty.humane-flatty-info {
    background-color: #3498db;
    color: #FFF;
}

.humane.humane-flatty-success,
.humane-flatty.humane-flatty-success {
    background-color: #18bc9c;
    color: #FFF;
}

.humane.humane-flatty-error,
.humane-flatty.humane-flatty-error {
    background-color: #e74c3c;
    color: #FFF;
}

.humane-animate,
.humane-flatty.humane-flatty-animate {
    opacity: 1;
    transform: translateY(0);
}

.humane-animate:hover,
.humane-flatty.humane-flatty-animate:hover {
    opacity: 0.7;
}

.humane-js-animate,
.humane-flatty.humane-flatty-js-animate {
    opacity: 1;
    transform: translateY(0);
}

.humane-js-animate:hover,
.humane-flatty.humane-flatty-js-animate:hover {
    opacity: 0.7;
}

.gu-mirror {
    position: fixed !important;
    margin: 0 !important;
    z-index: 9999 !important;
    opacity: 0.8;
}

.gu-hide {
    display: none !important;
}

.gu-unselectable {
    user-select: none !important;
}

.gu-transit {
    opacity: 0.2;
}

[title] {
    cursor: help;
    border-bottom: 1px dotted black;
}

label {
    cursor: pointer;
}

.pure-form-aligned .pure-control-group .label {
    text-align: right;
    display: inline-block;
    vertical-align: middle;
    width: 10em;
    margin: 0 1em 0 0;
}

.pure-form select {
    height: 2.5em;
}

.pure-form-aligned .pure-control-group .pure-checkbox,
.pure-form-aligned .pure-control-group .pure-radio {
    margin: .5em 1em .5em 0;
    display: inline-block;
    width: inherit;
}

.about span {
    display: block;
    font-weight: bold;
    font-size: 1.7rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.about .ava {
    border-radius: 50%;
    float: left;
}

.about .name {
    font-size: 1.5rem;
    text-decoration: none;
}

.about .world {
    font-style: italic;
}

.mono {
    font-family: "PT Mono";
}

button+button {
    margin-left: 1rem;
}

.fable {
    display: flex;
    position: relative;
    z-index: 1;
}

.fable:not(.h) {
    padding: 0 0 0.2em;
}
.fable:not(.h):hover {
    background: rgba(0,0,0,0.4);
}

.fable.h {
    border-bottom: 1px solid #DED7BE;
}

.fable.h > div {
    font-weight: bold;
}

.fable > div {
    flex: 1;
    padding: 0.2em 0.5em 0.1em;
    text-overflow: ellipsis;
    overflow: hidden;
}

.fl { text-align: left; }
.fc { text-align: center; }
.fr { text-align: right; }

.fable > .ftiny { flex: 0 2em; text-overflow: clip; }
.fable > .fsmol { flex: 0 3em; }
.fable > .fmedi { flex: 0 4em; }
.fable > .flong { flex: 0 6em; }
.fable > .fhuge { flex: 0 10em; }

.meter.preview {
    position: relative;
    border: 1px dotted silver;
    height: 2em;
}

.fable > .meter {
    height: 0px;
    margin: 0;
    padding: 0;
    overflow: visible;
    flex: 0;
}

.meter div {
    z-index: -1;
    position: absolute;
    left: 0;
    right: 0;
}


.fable:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}


/* convert to js */
.meter .bline {
    height: 1px;
    background: fuchsia;
    bottom: 0;
}

.meter .tline {
    height: 1px;
    background: fuchsia;
    top: 0;
}

.meter .bar,.meter .rbar,.meter .fbar {
    background: fuchsia;
    top: 0;
    bottom: 0;
    opacity: 0.8;
}

.meter .fbar {
    border-radius: 0.5em;
}
.meter .rbar {
    border-top-right-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
}