body,
html {
  padding: 0
  height: 100%
}

html {
  overflow: hidden
  box-sizing: border-box
  background-color: transparent
  font-size: 12px
  font-family: 'PT Sans'
}

*,
*:before,
*:after {
  box-sizing: inherit
}

.orange {
  color: #ded7be
  text-shadow: -1px 0 2px #795516, 0 1px 2px #795516, 1px 0 2px #795516, 0 -1px 2px #795516
  white-space: nowrap
  font-weight: 300
}

.white {
  color: #fff
  text-shadow: -1px 0 2px #333, 0 1px 2px #333, 1px 0 2px #333, 0 -1px 2px #333
  white-space: nowrap
  font-weight: 300
}

.blue {
  color: #e2ebf5
  text-shadow: -1px 0 3px #217aa2, 0 1px 3px #217aa2, 1px 0 3px #217aa2, 0 -1px 3px #217aa2
  white-space: nowrap
  font-weight: 300
}

.green {
  color: #ebf5e2
  text-shadow: -1px 0 3px #7aa221, 0 1px 3px #7aa221, 1px 0 3px #7aa221, 0 -1px 3px #7aa221
  white-space: nowrap
  font-weight: 300
}

.combatants {
  width: 100%

  .row {
    display: flex

    .cell {
      flex: 1
      overflow: hidden
      padding: .25rem .5rem
      text-overflow: ellipsis
    }
  }

  .row:nth-child(even) {
    background-color: rgba(255, 255, 255, .4)
  }

  .head {
    border-bottom: 1px solid #ded7be

    .cell {
      font-weight: bold
    }
  }
}

.fl {
  text-align: left
}

.fc {
  text-align: center
}

.fr {
  text-align: right
}

.mono {
  font-family: 'PT Mono'
}

.player {
  background-color: rgba(0, 0, 0, .4) !important
}

.fable > .meter {
  z-index: -1
  flex: 0
  overflow: visible
  margin: 0
  padding: 0
  height: 0
}

.meter div {
  position: absolute
  right: 0
  left: 0
  z-index: -1
}

/* convert to js */
.meter .bline {
  bottom: 0
  height: 1px
  background: fuchsia
}

.meter .tline {
  top: 0
  height: 1px
  background: fuchsia
}

.meter .bar,
.meter .rbar,
.meter .fbar {
  top: 0
  bottom: 0
  background: fuchsia
  opacity: .8
}

.meter .fbar {
  border-radius: .5em
}

.meter .rbar {
  border-top-right-radius: .5em
  border-bottom-right-radius: .5em
}
